.c1
{
width: 98%;
height: 200px;
background-color: green;
margin:20px;
text-align: center;
line-height:200px;
font-size:200px;
color:red;
}

.c2
{
margin:20px;
width: 98%;
height: 200px;
background-color: blue;
text-align: center;
line-height:200px;
font-size:200px;


}

.c3
{
width: 50%;
height: 300px;
background-color: magenta;
float: left;
text-align: center;
line-height:200px;
font-size:200px;

}

.c4
{
width:50%;
height: 300px;

background-color: cyan;
float:left;
text-align: center;
line-height:200px;
font-size:200px;


}
.c5
{
width: 25%;
height: 300px;
background-color:blue;
float: left;
text-align: center;
line-height:200px;
font-size:200px;

}
.c6
{
width: 25%;
height: 300px;
background-color: red;
float: left;
text-align: center;
line-height:200px;
font-size:200px;

}



.teste1
{
color: blue;
 text-align: center;
}

.b1
{
width: 98%;
height: 350px;
background-color: green;
margin:150px;
text-align:center;
line-height:200px;
font-size:200px;
color:red;
}
.b2
{
width: 98%;
height: 200px;
background-color: green;
margin:20px;
text-align:center;
line-height:200px;
font-size:50px;
color:red;
}


.b3
{
width: 50%;
height: 920px;
margin:10px;
line-height:200px;
font-size:200px;
color:red;
float: left;
border: 10px solid black;


}



.b4
{
width: 45%;
height: 460px;
margin:10px;
font-size:200px;
color:rgb(47, 0, 255);
float: left;
border: 10px solid black;
line-height: 100px;
}

.b5
{
width: 60%;
height: 150px;
margin:20px;
line-height:200px;
font-size:40px;
color:red;
border: 1;
border: 10px solid black;
text-align: center;
}
.b6
{
width: 60%;
height: 150px;
margin:20px;
line-height:200px;
font-size:40px;
color:red;
border: 1;
border: 10px solid black;
text-align: center;
}

.b7
{
width: 37%;
height: 460px;
margin:20px;
font-size:200px;
color:rgb(47, 0, 255);
float: left;
border: 10px solid black;
line-height: 100px;
}

.b8{
    font-size: 30px;
    text-align: center;
}




.a1
{
width: 98%;
height: 460px;
margin:20px;
font-size:200px;
color:rgb(47, 0, 255);
float: left;
border: 10px solid black;
line-height: 100px;
}

.a2
{
width: 45%;
height: 460px;
margin:10px;
font-size:200px;
color:rgb(47, 0, 255);

border: 10px solid black;
line-height: 100px;
float: left;
}

.a3
{
width: 50%;
height: 460px;
margin:10px;
font-size:200px;
color:rgb(47, 0, 255);
border: 10px solid black;
line-height: 100px;
float: left;
}

.a4
{
width: 50%;
height: 50px;
margin:20px;
font-size:25px;
color:rgb(47, 0, 255);
float: left;
border: 10px solid black;
line-height: 100px;
background-color: blue;
}

.a5
{
width: 50%;
height: 50px;
margin:20px;
font-size:25px;
color:rgb(47, 0, 255);
float: left;
border: 10px solid black;
line-height: 100px;
background-color: red;
}


